@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --link: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--light-gray);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--white);
    width: 375px;
    height: 70vh;
    margin: auto;           
    border-radius: 10px;
    text-align: center;
}

section .qr-code {
    background: url(../images/image-qr-code.png);
    background-size: cover;
    background-position: center center;
    height: 40vh;
    margin: 18px;
    border-radius: 10px;
}

section h1 {
    color: var(--dark-blue);
    font-weight: 700;
    margin: 30px 20px;
    font-size: 26px;
}

section p {
    font-size: 20px;
    font-weight: 400;
    color: var(--grayish-blue);
    margin: 30px;
}

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: var(--link);
}